@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --bg-color: #ECECEC;
  --bg-color-white: #F5F5F5;
  --tab-color: #FFFFFF;
  --stroke-color: #DDDDDD;
  --font-color-grey: #959595;
  --font-color-black: #1D1C1D;
  --font-color-white: #FFFFFF;
  --block-color: #f8f8f8;
  --icon-color: #616061;
  --hover-color: #dfdfdf;
  --main-brand-color: #FF4C00;
  --notif-color: #FF0F00;
  --light-brand-color: #FFEEE6;
  --success-light-color: rgba(39, 174, 96, 0.1);
  --success-color: #27AE60;
  --task-color: #2F80ED;
  --task-light-color: rgba(45, 156, 219, 0.1);
  --company-event-color: #FEF9EC;
  --company-text-color: rgba(242, 201, 76, 0.2);
  --emoji-selected: rgba(255, 76, 0, 0.1);
}

body {
  background: var(--bg-color);
}

.main-app {
  width: 100% !important;
}

.main-app__content {
  display: flex;
  justify-content: space-between;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
